<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>            <string>Onyx</string>
	<key>CFBundleDisplayName</key>     <string>Onyx</string>
	<key>CFBundleIdentifier</key>      <string>com.n0tls.onyx</string>
	<key>CFBundleVersion</key>         <string>1</string>
	<key>CFBundleShortVersionString</key> <string>0.1</string>
	<key>CFBundlePackageType</key>     <string>APPL</string>
	<key>CFBundleExecutable</key>      <string>Onyx</string>
	<key>LSMinimumSystemVersion</key>  <string>14.0</string>
	<key>CFBundleIconFile</key>        <string>AppIcon</string>
	<key>NSHighResolutionCapable</key> <true/>
	<key>LSMultipleInstancesProhibited</key> <true/>
	<key>NSHumanReadableCopyright</key><string>Onyx</string>
</dict>
</plist>
